@charset "UTF-8";

form {
    text-align: left;
    width: 600px;
    margin: auto;
}

input, textarea{
    margin: 10px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
}
input:hover {
    background-color: #cecece;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset, label{
    display: block;
    text-align: left;
    border-color: #cecece;
    margin: 5px;
    box-sizing: border-box;
}
#cMasc, #cFem{
    display: block;
    float: left;
}

fieldset#usuario {
    text-align: left;
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%; 
}

fieldset#endereco {
    text-align: left;
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
    padding-right: 15px;

}
fieldset#mensagem {
    resize: none;
    /* blouqueio da caixa de texto para não ser aumentada ou diminuida pelo user*/
    text-align: left;
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
    padding-right: 80px;
}

fieldset#mensagem #cMsg{
    resize: none;
}

fieldset#pedido {
    text-align: left;
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}

input#botao {
  margin-left: 220px;
}